<%= $game.player1.name %> vs. <%= $game.player2.name %><br>
<%= $game.player2.name %>: <%= Player::DEFAULT_HP %>HP
<form action="/attack" method="get">
  <input type="submit" value="ATTACK!">
</form>
